<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ORGENDAOneDriveClientID</key>
	<string>$(ORGENDA_ONEDRIVE_CLIENT_ID)</string>
	<key>ORGENDAOneDriveRedirectURI</key>
	<string>$(ORGENDA_ONEDRIVE_REDIRECT_URI)</string>
	<key>ORGENDAGoogleDriveClientID</key>
	<string>$(ORGENDA_GOOGLE_CLIENT_ID)</string>
	<key>ORGENDAGoogleDriveRedirectURI</key>
	<string>$(ORGENDA_GOOGLE_REDIRECT_URI)</string>
	<key>ORGENDADropboxClientID</key>
	<string>$(ORGENDA_DROPBOX_CLIENT_ID)</string>
	<key>ORGENDADropboxRedirectURI</key>
	<string>$(ORGENDA_DROPBOX_REDIRECT_URI)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key><string>orgenda.cloud-auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>orgenda-onedrive</string>
				<string>$(ORGENDA_GOOGLE_URL_SCHEME)</string>
				<string>orgenda-dropbox</string>
			</array>
		</dict>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.roifewu.Orgenda.new-task</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New task</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCompose</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.roifewu.Orgenda.today</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Today</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeDate</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.roifewu.Orgenda.search</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.roifewu.Orgenda.files</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Files</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>folder</string>
		</dict>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Org Heading</string>
			<key>UTTypeIdentifier</key>
			<string>com.roifewu.orgenda.heading</string>
		</dict>
	</array>
</dict>
</plist>
